<!-- DEBUG FILE: html_components/basic_components/footer.html -->
<!-- Map -->

<!-- 
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/leaflet-embed.js"></script> -->


<!-- <script src="https://maps.googleapis.com/maps/api/js?client=AIzaSyAljVUJ_BKWrysX3Jsh7jP98qpRCShNuK4&v=3.20"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/google-map.js"></script>  -->
<!--    <script src="https://maps.googleapis.com/maps/api/js?client={{site.data.gmap.api}}&v=3.20"></script> -->
