<!-- DEBUG FILE: html_components/basic_components/head.html -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
   
    <title>{% if page.seoTitle %}{{ page.seoTitle }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">

<!-- Icon Fοnts -->
   {% for plugin in site.data.pluginsSourceFiles.iconfontsSourceFiles %}
         {% if plugin.state == 'active' %}
               <link rel="stylesheet" href="{{ site.baseurl }}/{{ plugin.css }}">  
            {% endif%}
      {% endfor %}
   
 <link rel="stylesheet" href="{{site.baseurl}}/css/tailwind.css">
   <link rel="stylesheet" href="{{site.baseurl}}/css/components.css">   
      <link rel="stylesheet" href="{{site.baseurl}}/css/styles.css">
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">     
       <style>
      {{ page.css  }}
   </style>    
                           
</head>
