.section-prices {   
   text-align: left;
   display: flex;
      .prices-list {
            max-width: 280px;
            display: flex; /* FLEX */
            flex-direction: column; /* FLEX */
            background: transparent;
            padding: 25px 25px 20px;
            color: #fff;
            margin-left: gutters(12); /* FLEX */
         .title {
            color: #c1935c;
            font-size: 48px;
            line-height: .9em;
            letter-spacing: -3px;
            margin-left: -4px;
            flex-grow: 1; /* FLEX */
         }
         .subtitle1, .subtitle2 {
            line-height: 1.2em;
         }
         .title,
         .subtitle2 {
            margin-bottom: 20px;
         }
         ul li {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
         }
         .season {
             font-size: 22px;
             margin-bottom: 8px;
         }
         .price {            
            font-size: 24px;
            background: #C1935C;
            padding: 5px 8px;
            line-height: 1.2;
            overflow: hidden;
            color: #fff;
            margin-bottom: 30px;
         }
         .date {
            @include span( 100% );
            font-size: 13px;
            line-height: 1.5em;
         }
         .date2 {
           @include span( 50% last );
            margin-bottom: 20px;
         }
         .more {
            color: #fff;
         }
   }
}