.contact-form-materialize {
   background: #EEECE1;
   padding: 20px 35px 20px 20px;
   .component-title {
      color: #c1935c;
      font-size: 48px;
      line-height: .9em;
      letter-spacing: -3px;
      margin-left: -4px;
      margin-bottom: 20px;
   }
}
textarea {
    overflow-y: hidden;
    padding: 1.6rem 0;
    resize: none;
    min-height: 3rem;
}
/*  */
/* RESERVATION */
/*  */
.checkout,
.villa {
   @include span(48% last);
}
.checkin,
.persons {
   @include span(48%);
}
.message {
    @include span(100%);
}
.contact-details {
/*       max-width: 280px;
      min-width: 220px; */
      background: #C4BD97;
      color: #79797a;
      font-size: 17px;
      line-height: 21px;
      font-weight: normal;
   .label {
       font-size: 17px;
       color: #323232;      
   }
   .phone,
   .email,
   .address,
   .gps {
      margin-bottom: 15px;
      font-size: 15px;
      color: #fff;
   }
}
