@include web-fonts(
  'Open Sans',
  'Open Sans Condensed',
  'Fira Mono',
  'Fira Sans',
  'Roboto',
  'Roboto Slab',
  'Roboto Condensed',
   'Vollkorn',
  'Ubuntu Mono',
   'Courgette',
   'Damion',
   'Grand+Hotel'
  );

 // 
// TYPOGRAPHIC
// Settings
$lila-font-headers: 'Vollkorn','Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
$lila-logo:    'Courgette', 'Damion','Grand+Hotel''Cambria', 'Georgia', 'serif';

$line-height-ratio  : 1.75 !default;
$header-ratio       : $golden !default;
$body-font          : $cambria !default;
$body-font-weight   : 300 !default;
$body-color         : #6f2941 !default;
$header-font        : $lila-font-headers !default;
$header-font-weight : 500 !default;
$header-color       : #111 !default;
$min-font           : 12px !default;
$max-font           : 20px !default;
$min-width          : 600px !default;
$max-width          : 1140px !default;
$vertical-rhythm    : true !default;


@include typographic;

