/*  */
/* FACILITIES */
/*  */
.facilities {
   background: #EEECE1;
   height: 100%;
   .title {
      padding: 0 5px;
      margin-bottom: 0;
      color: #c1935c;
      font-size: 40px;
      line-height: .9em;
      letter-spacing: -3px;
      margin-left: -4px;
      margin-bottom: 0.3em;
   }
   .subtitle1,
   .subtitle2 {
      color: #79797a;
      font-size: 17px;
      line-height: 20px;
   }
   .subtitle2 {
      margin-bottom: 20px;
   }
   .component-title {
      padding: 0 5px;
      margin-bottom: 0;
      color: #000;
      font-size: 19px;
      margin-bottom: 9px;
      padding-left: 15px;
   }
   ul {
      border: 1px solid #ccc;
      padding: 5px;
      background: #fff;
   }
   li {
      padding: 5px 10px;
      list-style: none;
    font-style: italic;
    color: #79797a;
    font-size: 15px;
    line-height: 0.9em;
   }
}

.sidebar {
}
/* LINKS */
.links {
   margin-bottom: 3em;
   li {
      background: transparent;
      font-size: 24px;
      text-transform: uppercase;
      margin-bottom: 10px;
   }
   a {
      padding: 5px 25px;
      color: #fff;
      background: #77933C;
      display: block;
   }
   a:hover {
      background: #94B946;
      color: #323232;
   }
   ul li.bungalow {
      .waves-effect.waves-greenlila .waves-ripple {
           /* The alpha value allows the text and background color
           of the button to still show through. */
            background-color: rgba(119, 147, 60, 0.65);
          }
         a {
            padding: 0 ;
            color: #fff;
            display: block;
         }
         a:hover {
            color: #323232;
         }
   }
}
/*  */
/* RATES */
/*  */
.component-title.rate {
   background: #C4BD97;
   color: #000;
   font-size: 17px;
   padding: 0px 5px;
   margin-bottom: 5px;
}
.rates {
   background: transparent;
   ul {

      li {
         background: #C4BD97;
         margin: 5px 0;
         float: left;
         padding: 10px;
         width: 100%;
      }
   }
   .season {
      float: left;
      font-size: 22px;
      color: #000;
      font-weight: bold;
      margin-bottom: 8px;
   }
   .price {
      background: transparent;
      float: right;
      margin-bottom: 3px;
      font-size: 24px;
      line-height: 1.2;
      overflow: hidden;
      color: #fff;
   }
   .date {
      @include span( 100% );
      font-size: 13px;
      color: #323232;
      line-height: 1.5;
   }
}
/* DATE POPUP */
.rd-back,
.rd-next {
   color: #323232;
}
