/* Flex MENU */
/* http://codepen.io/terrymun/pen/cKxwu */
/* STICKY MENU */
/* http://www.webdesignerdepot.com/2014/05/how-to-create-an-animated-sticky-header-with-css3-and-jquery/ */
.header-wrapper {
   background: #6CB7DE;
   .header {
           .logo a {              
             padding: 0 40px;
             font-size: 38px;
             color: #6F2941;
             font-family: $lila-logo;
           }
           .menu ul {
                  display: flex;
                  flex-direction: column;
                  justify-content: space-around;
              li {
                 display: flex;
                 font-size: 18px;
              }
              a {
                 color: #f4f0f0;
              }
           }
   }                 
}