.content {
   .section-facilities {
      margin-left: 40px;
      max-width: 1050px;
            .facilities-list {
               @include gallery( 4 of 12);
               max-width: 280px;
               margin-left: 40px;
               background: #ffffff;
               padding: 25px 25px 20px;
            .title {
               color: #c1935c;
               font-family: 'Vollkorn',"Arial",sans-serif;
               font-size: 48px;
               line-height: .9em;
               letter-spacing: -3px;
               margin-left: -4px;
            }
            .text {
                   line-height: 1.2em;
            }
            .component-title {
               color: #000;
               font-size: 17px;
               margin-bottom: 9px;
            }
            ul {
               margin-left: 16px;
            }
            li {
               list-style: square;
               padding: 4px 0 4px 3px;
               font-style: italic;
               color: #79797a;
               font-size: 17px;
               line-height: 18px;
            }
         }
      } 
   }