.gallery-thumbnails {
   img {
      width: auto;
      display: block;
      height: 50px;
   }
}


.gallery-title {
    box-shadow: 0 0px 100px 71px rgba(0, 0, 0, 0.15);
    background: transparent;
    background: rgba(0, 0, 0, 0.15);
    padding: 0px 0px 0 80px;
    line-height: 1em;
    font-size: 20px;
    width: 100%;
    background: #323232;
    padding: 10px;
    opacity: 0.9;
}

.gallery-thumb {
   padding: 2px 1px 0;
}

.owl-carousel.owl-loaded {
    display: flex;
    flex-direction: column;
}
.owl-theme .owl-nav {
    margin-top: -10em;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    position: fixed;
    float: right;
    width: 100%;
}