body {
}

h1,h2,h3,h4,h5,h6 {

}

.component-header,
.section-header {
      background-color: #FFCB00;
      margin-bottom: 2em;
   .component-title,
   .section-title {
    @include t-header;
    @include t-h5;
   }
   .component-subtitle,
   .section-subtitle {
       color: #1b1b1b;
       text-transform: uppercase;
   }
}
