.contact-form {
   background: #EEECE1;
   padding: 20px 35px 20px 20px;
   .component-title {
      color: #c1935c;
      font-size: 48px;
      line-height: .9em;
      letter-spacing: -3px;
      margin-left: -4px;
      margin-bottom: 20px;
   }
}
select {
   @include t-input;
   width: 100%;
}
input[type="text"], input[type="email"], input[type="password"], textarea {
   width: 100%;
}
input[type="text"], input[type="email"], input[type="password"], textarea ,input[type="submit"], button , select {
   font-size: 15px;
}
label {
  font-size: 13px;
}
#checkin {
   
}
#checkout {
   
}
.contact-details {
/*       max-width: 280px;
      min-width: 220px; */
      background: #C4BD97;
      color: #79797a;
      font-size: 17px;
      line-height: 21px;
      font-weight: normal;
   .label {
       font-size: 17px;
       color: #323232;      
   }
   .phone,
   .email,
   .address {
      margin-bottom: 15px;
      font-size: 15px;
      color: #fff;
   }
}
button {
    border: 0;
    background: #2E4E75;
    color: #fff;
}
button:hover {
    background: #4979B3;
}
/*  */
/* RESERVATION */
/*  */
.checkout,
.villa {
   @include span(48% last);
}
.checkin,
.persons {
   @include span(48%);
}
