/* Flex MENU */
/* http://codepen.io/terrymun/pen/cKxwu */
/* STICKY MENU */
/* http://www.webdesignerdepot.com/2014/05/how-to-create-an-animated-sticky-header-with-css3-and-jquery/ */
.header-wrapper {
   .header {
           .logo a {              
             padding: 0 40px;
             font-size: 38px;
             color: #6F2941;
             font-weight: bold;
              font-family: 'Fira Mono', ;
              font-family: 'Ubuntu Mono', ;              
              font-family: 'Roboto Condensed', sans-serif;
              font-family: 'Roboto', sans-serif;
              font-family: 'Fira Sans', sans-serif;
           }
           .menu ul {
                  display: flex;
                  flex-direction: row;
                  justify-content: space-around;
              li {
                 display: flex;
                 font-size: 18px;
              }
              
           }
   }                 
}

.sticky {
   position: fixed;
   opacity: 0.9;
   transition: all 0.4s ease;
   z-index: 15;
   .header-wrapper {
        background: #FFEEDC;
      }
   .header {
      padding: 0;
      }
   .logo a {              
         padding: 0 40px;
         font-size: 32px;
       }
}