<!-- Check the group  html element -->  
   {% case include.component-data.groupFieldsElement %}

   {% when 'div' %}
      {% capture groupdivDiv %}
        <div {% for data in include.component-data.groupFieldsElement.data %}
                  {{data[0]}}="{{data[1]}}"
              {% endfor %}>
         {% endcapture%}

      {% capture groupdivDivEnd %}</div>{% endcapture%}

   {% when 'ul' %}
        {% capture groupdivUl %}
            <ul {% for data in include.component-data.groupFieldsElement.data-ul %}
                  {{data[0]}}="{{data[1]}}"
                 {% endfor %}>
            {% endcapture%}

         {% capture groupdivDiv %}
            <li {% for data in include.component-data.groupFieldsElement.data-li %}
               {{data[0]}}="{{data[1]}}"
              {% endfor %} >
           {% endcapture%}

         {% capture groupdivDivEnd %}</li>{% endcapture%}{% capture groupdivUlEnd %}</ul>{% endcapture%} 



   {% else %}

     {% capture groupdivDiv %}{% endcapture%}

      {% capture groupdivDivEnd %}{% endcapture%}

   {% endcase %}