<!-- DEBUG FILE: html_components/fieldsCases/titleCase.html -->
<!-- TITLE CASE -->

      {% case include.field_Data.link %}
      {% when 'posts' %}
            <div                
             {% for data in include.field_Data %}
                 {% case data[0] %}
                  {% when 'id' %}
                     {{data[0]}}="{{data[1]}}"
                  {% when 'class' %}
                     {{data[0]}}="{{data[1]}}"
                  {% when 'theme' %}
                     {{data[0]}}="{{data[1]}}"
                  {% endcase%}
              {% endfor %}>
            <a href="{{ site.baseurl}}{{ post.url }}">{{ post.[include.field_Field] }}</a>

      {% when 'products' %}
   
             <a 
                {% for data in include.field_Data %}
                     {% case data[0] %}
                      {% when 'id' %}
                         {{data[0]}}="{{data[1]}}"
                      {% when 'class' %}
                         {{data[0]}}="{{data[1]}}"
                      {% when 'theme' %}
                         {{data[0]}}="{{data[1]}}"
                      {% endcase%}
                  {% endfor %}
                href="{{ site.baseurl}}products/{{ post.sku }}.html">{{ post.[include.field_Field] }}</a>

      {% else %}   
          {% if include.field_Data.link-field %}
                        <div                
                           {% for data in include.field_Data %}
                               {% case data[0] %}
                                {% when 'id' %}
                                   {{data[0]}}="{{data[1]}}"
                                {% when 'class' %}
                                   {{data[0]}}="{{data[1]}}"
                                {% when 'theme' %}
                                   {{data[0]}}="{{data[1]}}"
                                {% endcase%}
                            {% endfor %}>
                          <a href="#{{ post.[include.field_Data.link-field] }}">{{ post.[include.field_Field] }}</a>


            {% else %}
               <div                
                    {% for data in include.field_Data %}
                       {% case data[0] %}
                        {% when 'id' %}
                           {{data[0]}}="{{data[1]}}"
                        {% when 'class' %}
                           {{data[0]}}="{{data[1]}}"
                        {% when 'theme' %}
                           {{data[0]}}="{{data[1]}}"
                        {% endcase%}
                    {% endfor %}>
              
                 {{ post.[include.field_Field] }} 
            {% endif %}
      {% endcase %}

   </div>