
{% assign fields = include.component-data.fields %} 

{% for field in fields %} 




               {% if field.data.label %}
                  <div class="label {{field.data.class}}-{{field.data.label}}">
                     {{ field.data.label }}
                  </div>
              {% endif %}

               
           <div class="field {{field.field}} {{field.data.class}}">
              {% if include.component-data.folder %}
                      {{ site.data.content.[include.component-data.folder].[include.component-data.content-type].[field.field] }}
              {% else %}
                    {% if field.link %}
                       <a href="{{site.baseurl}}{{ site.data.content.[include.component-data.content-type].[field.link] }}">{{ site.data.content.[include.component-data.content-type].[field.field] }}</a>
                    {% else %}
                       {{ site.data.content.[include.component-data.content-type].[field.field] }}
                    {% endif%}
              {% endif %}
            </div>



   {% endfor %}