<!-- FROM HERE -->
<!--  https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/Forms/The_native_form_widgets#Auto-complete_content -->
<form 
name="contact-form"
data-parsley-validate 
action="/pages/thankyou.html"
method="POST"   
netlify-honeypot="bot-field"
netlify>
<!-- Just print the fields -->
<!-- Loop each field in the component -->
   <!--  If there is grouping div got fields -->
   
           {% if include.component-data.fieldset %}

             {% include html_components/formCases/formGroup.html %}

           {% else %}
           <input type="hidden" name="subject" data-remove-prefix value="From submission from %{formName} - (%{submissionId})" />
                        <!-- Just print the fields -->
                        <!-- Loop each field in the component -->
                         {% assign fields = include.component-data.fields %}    
                           <!-- DEBUG FILE: html_components/components_includes/fieldsCases.html -->
                           <!-- Just print the fields -->
                           {% for field in fields  %}
                     <div {% include basic_components/pageIncludes/themeElement.html elementData=field.wrapperDiv.theme %} >
                        
                              {% case field.field  %}
                        
                                 {% when 'redirect' %}
                                       <input type='hidden' name='redirect_to' value='{{site.url}}{{site.baseurl}}/{{field.data.url}}' />
                        
                                 {% when 'date' %}  
                                       <label for="{{ field.data.id }}">{{ field.data.label }}</label>                 
                                       <input type="date" class=" {{ field.data.class }}" name="{{ field.data.name }}" {{field.data.required}}>
                     
                                 {% when 'textarea' %}
                                       <textarea {% include basic_components/pageIncludes/themeElement.html elementData=field.data %}></textarea>
                              <!-- INPUT --> 
                                 {% when 'input' %}
                                       <label for="{{ field.data.id }}">{{ field.data.label }}</label>                 
                                       <input {% include basic_components/pageIncludes/themeElement.html elementData=field.data %} {{field.data.required}}>
                              <!-- DROPDOWN BOX --> 
                                 {% when 'select' %}
                                       <select {{field.data.required}} name="{{ field.data.name }}" id="{{field.data.id}}">
                                          {% for option in field.options %}
                                             {% if forloop.first  %}
                                             <option value="" {{ option.data }} >{{ option.option }}</option>
                                          {% else %}
                                              <option value="{{ option.option }}">{{ option.option }}</option>
                                          {% endif %}
                                          {%  endfor %}
                                       </select>
                               <label for="{{ field.data.id }}">{{ field.data.label }}</label>
                              <!-- CHECKABLE  -->                 
                                 {% when 'check' %}
                                      <label for="{{ field.data.id }}">{{ field.data.label }}</label>
                                       <input type="checkbox" checked>
                              <!-- BUTTONS -->
                                 {% when 'button' %}
                                       <button {% for data in field.data %} {{ data[0] }}="{{ data[1] }}" {% endfor %} >
                                             {{ field.data.button-text }}
                                       </button>
                              <!--  End case of fields -->
                               {% endcase %}

                           <!--  End loop in fields -->
                                </div>
                             {% endfor %} 
                        <!--  END IF to check for GROUP -->
          
           {% endif %}
   
    </form>