$susy: (
  flow: ltr,
  math: fluid,
  output: float,
  gutter-position: after,
  container: 1170px,
  container-position: center,
  columns: 4,
  gutters: .25,
  column-width: false,
  global-box-sizing: content-box,
  last-flow: to,
);

$symmetric: (
  columns: 12,
  container: auto,
  gutters: .25,
  output: float,
/*   debug: (image: show), */
);

$full-width: (
  columns: 12,
  container: auto,
  gutters: 0,
  output: float,
/*   debug: (image: show), */
);

$susy-media: (
  normal:  (
    media: screen,
    min-width: 993px,
  ),
  mobile:  (
    media: screen,
    max-width: 992px,
  ),
  wide: (
    media: screen,
    min-width: 1350px,
    )
);
