---
---
<html lang="gr"
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">

<title>Lila Villas</title>
 <meta name="description" content="On the beach of K.Stalos in Chania which is awarded with a European blue flag for its cleanness and facilities, Lila Villas, will be your perfect refuge for your summer relaxation and the most convenient base for your trips to the island.
">









<link rel="stylesheet" href="/css/tailwind.css">
 <link rel="stylesheet" href="/css/components.css">
<link rel="stylesheet" href="/css/styles.css">
 <link rel="stylesheet" href="/css/photoswipe.css">
 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 <link rel="canonical" href="http://lilavillas/pages/gallery/bungalow2.html">
<style>

</style>

</head>


 <body><header>









<div class="menu">










 


 <div class="menu-container">
 <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
 <div class="logo">
 <a href="/">

 <div class="logo-title">Lila Beach Front Villas</div>

</a>
</div>
</div>
 







<ul id="slide-out" class="side-nav fixed" style="left: 0px;">
 <li class="logo">
 <a href="/">

 <div class="logo-title">Lila</div>
 <div class="logo-subtitle">Beach Front Villas</div>

</a>
</li>


 <li class="menu-item menu-welcome">

<a class="waves-effect waves-btn" href="/">Welcome</a>


 


<li class="menu-title">
 <ul class="collapsible" data-collapsible="accordion">
 <li class="active">


 <a class="collapsible-header waves-effect waves-btn active">Beach Accomodation</a>

<div class="collapsible-body" style="display: block; padding-top: 0px; margin-top: 0px; padding-bottom: 0px; margin-bottom: 0px;">
 <ul>


 <li class="submenu-item">

<a href="/pages/accomodation/paradise.html">Villa Paradise </a>



 <li class="submenu-item">

<a href="/pages/accomodation/lila2.html">Villa Lila </a>



 <li class="submenu-item">

<a href="/pages/accomodation/bungalow.html">Lila Beach Bungalow </a>

 

 </ul>
 </div>

 </ul>

 <li class="menu-title">
 <ul class="collapsible" data-collapsible="accordion">
 <li class="active">


 <a class="collapsible-header waves-effect waves-btn active">Hill Accomodation</a>

<div class="collapsible-body" style="display: block; padding-top: 0px; margin-top: 0px; padding-bottom: 0px; margin-bottom: 0px;">
 <ul>


 <li class="submenu-item">

<a href="/pages/accomodation/hill.html">Lila Hill House </a>

 

 </ul>
 </div>

 </ul>


<li class="menu-item menu-map-location">

<a class="waves-effect waves-btn" href="/pages/map.html">Map - Location</a>






 <li class="menu-item menu-rates">

<a class="waves-effect waves-btn" href="/pages/rates.html">Rates</a>






 <li class="menu-item menu-reservation">

<a class="waves-effect waves-btn" href="/pages/reservation.html">Reservation</a>






 <li class="menu-item menu-contact-us">

<a class="waves-effect waves-btn" href="/pages/contact.html">Contact us</a>






 <li class="menu-item menu-suggestions">

<a class="waves-effect waves-btn" href="/pages/suggestions.html">Suggestions</a>




 </ul>








</div>



 </header>



 <div class="page bungalow bg"><section class="gallery_new_section">









<div class="">











<div class="component-header">
 <div class="component-title ">Lila Beach Bungalow Gallery </div>
 </div>
  <div class="pswp-gallery pswp-gallery--single-column gallery_new" id="my-gallery">

{% for image in site.data.content.bungalow.gallery %}
    {% assign photo = "/assets/images/" | append: image.image  %}
    <a href="{{ photo }}" data-pswp-width="{% imagesize photo:width %}" data-pswp-height="{% imagesize photo:height %}" 
    target="_blank">
    <img src="{{ photo }}" alt="{{ image.title }}">
    <div class="img_title">{{ image.title }}</div>
    </a>

{% endfor %}

</div>
</div>



 </section>



</div> 



 <div class="footer-gallery">

<div class="footer-wrapper">
 

 <footer class="footer">









<div class="contact-footer">










 


 





<div class="field phone ">

 +30 6976.68.33.14

</div>
 





 <div class="field email ">

 info@lilavillas.gr

</div>
 





 <div class="field address ">

 Palea Ethniki Odos Kissamou Chanion 32, Stalos, 73100, Greece

</div>









</div>









 <div class="logo">










 


 


 <a href="/">

 Lila Villas
 
</a>







 </div>



 </footer>



</div>


 </div>



<script type="text/javascript" src="/js/components.js"></script> 

{{/*  <script type="text/javascript" src="/js/photoswipe.umd.min.js"></script>
 <script type="text/javascript" src="/js/photoswipe-lightbox.umd.min.js"></script>
   */}}








 <script type="text/javascript">
 $(document).ready(function() {


 $('.button-collapse').sideNav();
$('.collapsible').collapsible();



});
</script>
<script type="module">
    import PhotoSwipeLightbox from 'https://unpkg.com/photoswipe/dist/photoswipe-lightbox.esm.js';

    const lightbox = new PhotoSwipeLightbox({
      gallery: '#my-gallery',
      children: 'a',
      pswpModule: () => import('https://unpkg.com/photoswipe'),
    });
    
    lightbox.init();
</script>
 






<script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-73127007-1"></script>
 <script>
 window.dataLayer = window.dataLayer || [];
 function gtag(){dataLayer.push(arguments);}
 gtag('js', new Date());

 gtag('config', 'UA-73127007-1');
 </script>
 


<div class="hiddendiv common"></div><div class="drag-target" style="left: 0px; touch-action: pan-y; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></div></body></html>