<!-- DATA -->
<!-- USE DATA FROM _data/content -->
<!-- Check the content type - Datat or Collections - Posts -->
<div class="menu-container">
   <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
     <div class="logo">
         <a href="{{site.baseurl}}/"> 
            {% if include.component-data.image %}
            <img src="{{include.component-data.logo.image}}" alt="{{ site.title }}">
            {% else %}
            <div class="logo-title">{{ include.component-data.logo.title}} {{ include.component-data.logo.subtitle}}</div>
            {% endif %}
         </a> 
      </div>
</div>

{% include html_components/component_includes/componentContentType.html %}              
  <ul id="slide-out" class="side-nav fixed">
<!--      LOGO -->
     <li class="logo">
        <a href="{{site.baseurl}}/"> 
           {% if include.component-data.image %}
           <img src="{{include.component-data.logo.image}}" alt="{{ site.title }}">
           {% else %}
              <div class="logo-title">{{ include.component-data.logo.title}}</div>
              <div class="logo-subtitle">{{ include.component-data.logo.subtitle}}</div>
           {% endif %}
         </a>   
     </li>
     
<!-- MENU -->   
     
       {% for menu in posts limit:{{include.component-data.limit}} offset:{{include.component-data.offset}} %}
<!--      {{ page.url }}
    {{ menu.url}}  -->
        {% if menu.url %}
            {% if menu.url == page.url %}
               <li class="menu-item menu-{{ menu.name | slugify }} active">
            {% else %}
               <li class="menu-item menu-{{ menu.name | slugify }}">
            {% endif %}
                <a class="waves-effect waves-btn" href='{{ site.baseurl }}{{ menu.url }}'>{{ menu.name }}</a>
                    </li>

       {% else %}
           <li class="menu-title">
              <ul class="collapsible" data-collapsible="accordion" >
                 <li>
                    {% assign menuTitle = menu.name | slugify %}                    
                    {% if page.url contains menuTitle or page.url contains "gallery" %}
                       <a class='collapsible-header waves-effect waves-btn active'>{{ menu.name }}</a>
                    {% else %}
                       <a class='collapsible-header waves-effect waves-btn'>{{ menu.name }}</a>
                    {% endif %}                    
                    <div class="collapsible-body">
                        <ul>
                           {% for submenu in menu.submenu %}
                                 {% if submenu.url == page.url or submenu.url contains page.villa %}
                                    <li class="submenu-item active">
                                 {% else %}
                                    <li class="submenu-item">
                                 {% endif %}
                                    <a href="{{ site.baseurl }}{{ submenu.url }}">{{ submenu.name }} </a>
                                 </li>
                              {% endfor %}

                           </ul>
                       </div>
                   </li>
               </ul>
           </li>
         {% endif %}
      {% endfor %}  
  </ul>

