.page {
   @include layout($full-width);
   @include container;
}

.header-wrapper {
   @include span( 2 of 12);
   position: fixed;
    height: 100%;
   text-align: center;
   .logo {
      margin: gutter(12);
   }
}
.villas {
    padding: 20px;
    color: #FFF;
    font-size: 36px;
    background: rgba(214, 214, 214, 0.2);
    position: fixed;
    z-index: 25;
    opacity: 0.9;
}
.content {
    @include span( 10 of 12 last);
   .slideshow-title {
   }
   .facilities {
      @include span( 8 of 12 );
   }
   .rates {
      @include span( 4 of 12 last);
   }
}