
  
   .gallery {
      .post-image {
         float: left;
         width: 60px;
         margin: 3px;
      }
   }

.content-nobg {
   .slideshow-title{
      color: #c1935c;
      font-family: 'Vollkorn',"Arial",sans-serif;
      font-size: 36px;
      line-height: .9em;
      letter-spacing: -3px;
      margin:10px 40px 10px 10px;
   }
   .rates {
     @include full;
      padding: 10px 40px 20px;
      background: #F1F1F1;
      color: #79797a;
      font-size: 17px;
      line-height: 21px;
      font-weight: normal;
      .component-title {
         color: #000;
         font-size: 17px;
         margin-bottom: 9px;
      }
      ul {
         @include with-layout( gutters(0.25) );
         @include container();
      }
      li {         
         @include gallery( 4 of 12 );
      }
      .season {
          font-size: 22px;
          color: #000;
          font-weight: bold;
          margin-bottom: 8px;
      }
      .price {
         margin-bottom: 3px;
         font-size: 24px;
         background: #C1935C;
         padding: 5px 8px;
         line-height: 1.2;
         overflow: hidden;
         color: #fff;
      }
      .date {
         @include span( 100% );
         font-size: 13px;
         margin-bottom: 20px;
      }
   }
}

.contact-form {
   @include span( 5 of 12 );
   max-width: 452px;
   margin-left: 40px;
   background: #ffffff;
   padding: 40px 40px 20px;
   .component-title {
      color: #c1935c;
      font-family: 'Vollkorn',"Arial",sans-serif;
      font-size: 48px;
      line-height: .9em;
      letter-spacing: -3px;
      margin-left: -4px;
          margin-bottom: 15px;
   }
}

input[type="text"], input[type="email"], input[type="password"], textarea {
   width: 100%;
}

.contact-details {
      @include span( 4 of 12 );
      max-width: 300px;
      padding: 40px 40px 20px;
      background: #F1F1F1;
      color: #79797a;
      font-size: 17px;
      line-height: 21px;
      font-weight: normal;
   .label {
       font-family: 'Vollkorn',"Arial",sans-serif;
       font-size: 17px;
       text-transform: uppercase;
   }
   .phone,
   .email,
   .address {
      margin-bottom: 15px;
      font-size: 13px;
   }
}

