#header-gallery { 
   background: #4979B3;
   background: #538ED5; 
   background: #2E4E75;
   .submenu-item {
       text-align: right;
       background: #3F81D0;
   }
   .menu-title {
       color: #efefef;
       padding: 5px;
       line-height: 1.3em;
       background: #4979B3;
       font-size: 19px;
       border-bottom: 1px solid #769ECE;
   }
}
.page-gallery {
 @include span( 10 of 12 last);
      @include push( 2 of 12 );
    height: 100%;
   .content-gallery {
      height: 100%;
   }
   section.content-gallery,
   .frontpage-slideshow,
   .slideshow-item,
   .post-image {
      height: 100%;
   }
   .owl-carousel,
   .owl-stage-outer,
   .owl-stage,
   .owl-item {
    height: 100% !important;    
   }
   .post-image {
       display: flex;
       align-items: flex-end;
       padding-bottom: 200px;
       font-size: 48px;
       padding-left: 40px;
       color: #FFF;
      background-size: cover;
   }
   .slideshow-title {
       box-shadow: 0 0px 100px 71px rgba(0, 0, 0, 0.15);
       background: transparent;
       background: rgba(0, 0, 0, 0.15);
   }
}    


.page-tasos {
   height: 95vh;
      #header-wrapper {
         height: 100%;
         background: #4979B3;
         background: #538ED5; 
         background: #2E4E75;
         .submenu-item {
             text-align: right;
             background: #3F81D0;
         }
         .menu-title {
             color: #efefef;
             padding: 5px;
             line-height: 1.3em;
             background: #4979B3;
             font-size: 19px;
             border-bottom: 1px solid #769ECE;
         }
      }
   .content {
      height: 100%;
   }
   .facilities {
      background: #EEECE1;
          height: 100%;
      .title {
         padding: 0 5px;
         margin-bottom: 0;
      }
      .component-title {
                  padding: 0 5px;
         margin-bottom: 0;
             color: #000;
          font-size: 19px;
          margin-bottom: 9px;
          padding-left: 15px;
      }
      .text {
      }
      ul {
         border: 1px solid #ccc;
         padding: 5px;
         background: #fff;
         margin-left: 0;
      }
      li {
         padding: 5px 10px;
         list-style: none;
      }
   }
   .sidebar {
      @include span( 3 of 12 );     
            padding: 40px 40px 20px;
          max-width: 320px;
          display: flex;
    flex-direction: column;
      height: 100%;
   }
   .links {
      flex: 1;
      li {
         background: transparent;
         font-size: 24px;
         text-transform: uppercase;
         margin-bottom: 10px;
      }
      a {
         padding: 5px 25px;
         color: #fff;
         background: #77933C;
         display: block;
      }
   }
   .rates {
      align-self: flex-end;
      background: transparent;
      .rate.component-header {
         background: #C4BD97;
         margin-bottom: 5px;
      }
      ul {

         li {
             background: #C4BD97;
            margin: 5px 0;
            float: left;
                padding: 10px;
         }
      }
      .season {
         float: left;
             padding: 5px;
      }
      .price {
         background: transparent;
         float: right;
      }
      .date {
         
      }
   }
}