.page {
   @include layout($full-width);
   @include container;
   height: 100%;
}
.bg {
    background: url(../assets/images/AMP_1146.jpg);
   background-size: cover;  
}
/* HEADER */
.header-wrapper {
   @include span( 2 of 12);
   height: 100%;
   text-align: center;
   min-width: 200px;
}
/* TOP SPACER */
.topspacer {
   height: 20vh;
   background: transparent;
   width: 100%;
}
/* CONTENT */
.content {
   @include span( 10 of 12 );
   height: 100%;
}
.mainbar {    
   @include layout( $symmetric );  
   @include span( 3 of 10 );
   margin-left: gutters(10);
   max-width: 300px;
   min-width: 230px;
   padding: 30px 20px;
}
.sidebar {
   @include layout( $symmetric );
   @include span( 3 of 10 ); 
   padding: 30px 25px 20px;
   max-width: 280px;
   min-width: 220px;
}

.content-nobg {
   @include span( 10 of 12 last);
   @include push( 2 of 12 );
}
/* MAP */
#map-canvas {
   width: 100%;
}
/* FOOTER */
.footer-wrapper {
    position: fixed;
    bottom: 0;
    width: 100vw;
       z-index: 3;
   height: 5vh;
}