.page-gallery {
 @include span( 10 of 12 last);
      @include push( 2 of 12 );
    height: 100%;
   .content-gallery {
      height: 100%;
   }
   section.content-gallery,
   .frontpage-slideshow,
   .slideshow-item,
   .post-image {
      height: 100%;
   }
   .owl-carousel,
   .owl-stage-outer,
   .owl-stage,
   .owl-item {
    height: 100% !important;    
   }
   .post-image {
       display: flex;
       align-items: flex-end;
       padding-bottom: 200px;
       font-size: 48px;
       padding-left: 40px;
       color: #FFF;
      background-size: cover;
   }
   .slideshow-title {
       box-shadow: 0 0px 100px 71px rgba(0, 0, 0, 0.15);
       background: transparent;
       background: rgba(0, 0, 0, 0.15);
   }
}    
