.marginBottom {
   margin-bottom: 100px;
}

section.slideshow {
    @include full;
    .slideshowdiv,
    .owl-carousel  {
      @include full;
    }
}
.event-wrapper {
    @include full;
    margin-bottom: 100px;
   section.event {
      @include layout( $symmetric );
      @include container( 1170px );
   }
}

.contentmenu-wrapper {
   @include full;
   margin-bottom: 100px;
}
section.contentmenu {
    @include layout( $symmetric );
    @include container( 1170px );
   ul {
      @include container( 1170px );
      li {
         text-align: center;
         @include gallery ( 4 of 12);
      }
   }
}

section.newsandentipa {
    @include layout( $symmetric );
    @include container( 1170px );
   .news {
      @include span( 8 of 12 );
      .post-image {
          @include span(3 of 8); 
          }
      .content {
        @include span(5 of 8 ); 
        margin-left: gutter(8); 
      }
   }
   .entipa {
      @include span( 4 of 12 last);
   }
}
section.openday {
    @include layout( $symmetric );
    @include container( 1170px );
   .video {
      @include span( 8 of 12 );
   }
   .video-content {
      @include span( 4 of 12 last);
   }
}
section.contact {
       @include layout( $symmetric );
    @include container( 1170px );
   .contact-details {
      @include span( 8 of 12 );
   }
   .social {
      @include span( 4 of 12 last);
   }
}