---
---

<!DOCTYPE html>
<html lang="gr">

  {% include basic_components/head.html %}

  <body>
    
     
         <div class="page blog">

                  {% include basic_components/page.html config-file='header-blog' %}       
                  
                  {{ content }}
                                  
                   
            

               </div>
 
     {% include basic_components/page.html config-file='footer' %}

      <script type="text/javascript" src="{{ site.baseurl }}/js/components.js"></script> 
            {% include basic_components/perpagePlugins.html %}

                  

     
  </body>

</html>
