---
---

<!DOCTYPE html>
<html lang="gr">

  {% include basic_components/head.html %}

  <body>
    
     {% include basic_components/page.html config-file='header-materialize' %}         

     <div class="page {{ page.title }} {{ page.cssClass }}">     

        {{ content }}

     </div>                          

   
     {% if page.url contains 'gallery' %}   
        <div class="footer-gallery">
           {% include basic_components/page.html config-file='footer' %}
        </div>
     {% else %}
         {% include basic_components/page.html config-file='footer' %}
     {% endif%}
     
     
      <script type="text/javascript" src="{{ site.baseurl }}/js/components.js"></script> 
     
     {% include basic_components/perpagePlugins.html config-file='header-materialize' %}
     {% include basic_components/perpagePlugins.html %}
     <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-73127007-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-73127007-1');
    </script>
  </body>

</html>
